# Apify token used by local Vite proxy and Vercel serverless function
APIFY_TOKEN=

# Optional override if you want a different Instagram actor id
APIFY_INSTAGRAM_ACTOR_ID=apify~instagram-scraper

# Optional override if you want a different actor id
APIFY_TIKTOK_ACTOR_ID=clockworks~tiktok-scraper
